# Segredos
.env
.env.*
!.env.example
!.env.production.example

# Ruby / Rails
/backend/log/*
/backend/tmp/*
/backend/storage/*
/backend/.env

# Node
/gateway/node_modules
/frontend/node_modules

# OS
.DS_Store

# Docker
*.pid
*.zip